.container {
  display: flex;

  mat-list {
    width: 300px;
    display: inline-block;
  }

  #chart {
    flex-grow: 1;
    height: 400px;
    app-chart {
      display: block;
      width: 100%;

    }
  }

}

.station-item {
  cursor: pointer;

  &:hover, &.selected {
    background-color: rgba(150, 150, 150, 0.3);
  }
}
