.container {
  display: flex;
  flex-direction: row;

  mat-list {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #chart {
    flex-grow: 1;
    height: 200px;
    width: 600px;
    app-chart {
      display: block;
      width: 100%;

    }
  }

}

#station-list {
  overflow: scroll;
}

.station-item {
  cursor: pointer;

  &:hover, &.selected {
    background-color: rgba(150, 150, 150, 0.3);
  }
}

.spinner-container {
  align-self: center;
  justify-self: center;
}
