<div class="container">
  <mat-list role="list">
    <mat-list-item>
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Address" ngModel (ngModelChange)="filterChange($event)">
        </mat-form-field>
    </mat-list-item>
    <div *ngIf="(filteredStations | async).length > 0; else placeholder">
      <div *ngFor="let station of filteredStations | async;">
          <mat-list-item role="listitem" class="station-item" (click)="selectStation(station.id)" [ngClass]="{'selected': (selectedIndex | async) === station.id }">
              <mat-icon>room</mat-icon>
              <h3 mat-line>{{ station.address }}</h3>
              <p mat-line>{{ station.latLng.lat }}, {{ station.latLng.lng }}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </div>
    <ng-template #placeholder>
      <mat-list-item>No stations to show</mat-list-item>
    </ng-template>
  </mat-list>
  <div id="chart">
    <div id="results" *ngIf="(eventsFetching | async); else fetching"></div>
    <ng-template #fetching>
        <mat-spinner></mat-spinner>
    </ng-template>

  </div>

</div>


